/* Custom checkbox styles */
.customCheckbox {
  display: inline-block;
  width: 16px; /* Size of the checkbox */
  height:16px;
  border: 2px solid #ccc;
  border-radius: 2px; /* Rounded corners */
  position: relative;
  cursor: pointer;
}

.customCheckbox input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}

/* Background color change on checked */
.customCheckbox input[type="checkbox"]:checked + .checkboxBg {
  background-color: #754fff;
  display: block;
}

.checkboxBg {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

/* Optional: Custom checkmark style */
.customCheckbox input[type="checkbox"]:checked + .checkboxBg::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 0px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}